.PayBox {
    background-color: #ffffff;
    padding-top:100px;
    padding-bottom:100px;
}

.pay {
    background-color: #ffffff;
    padding-top:100px;
    padding-bottom:100px;
}

#pay h1 span{
font-weight: 300 !important;
line-height: 36px;
font-size: 36px;
}

.separator {
     margin: 0px auto;
     text-align: center;
     width: 300px;
     height: 2px;
     background-color: #444444;
     border-bottom: 2px solid #444444 ;
     margin-bottom:24px;
    }